.con {
  display: flex;
  margin: 1rem 0px;
}

.avatar {
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.name {
  opacity: 70%;
}
.date {
  opacity: 60%;
  /* margin: 0.2rem 0px; */
}
