* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  color: inherit;
  text-decoration: none;
  display: flex;
}
a > * {
  width: auto;
}
.MuiButton-root {
  border-radius: 20px;
}

.MuiOutlinedInput-root {
  border-radius: 20px;
}
