@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --success: rgba(202, 241, 225, 1);
  --onSuccess: rgba(14, 77, 9, 1);
  --onSuccess500: rgba(14, 77, 9, 0.5);
  --warn: #f49d1a;
  --onWarn: rgba(244, 157, 26, 1);
  --onWarn500: rgba(77, 54, 9, 0.5);

  --primary: rgba(44, 100, 133, 1);
  --on-primary: rgba(255, 255, 255, 1);

  --primary-container: rgba(200, 230, 255, 1);
  --primary-container900: rgba(200, 230, 255, 0.9);
  --primary-container800: rgba(200, 230, 255, 0.8);
  --primary-container700: rgba(200, 230, 255, 0.7);
  --primary-container600: rgba(200, 230, 255, 0.6);
  --primary-container500: rgba(200, 230, 255, 0.5);
  --primary-container400: rgba(200, 230, 255, 0.4);
  --primary-container300: rgba(200, 230, 255, 0.3);
  --primary-container200: rgba(200, 230, 255, 0.2);
  --primary-container100: rgba(200, 230, 255, 0.1);

  --on-primary-container: rgba(0, 30, 46, 1);
  --on-primary-container900: rgba(0, 30, 46, 0.9);
  --on-primary-container800: rgba(0, 30, 46, 0.8);
  --on-primary-container700: rgba(0, 30, 46, 0.7);
  --on-primary-container600: rgba(0, 30, 46, 0.6);
  --on-primary-container500: rgba(0, 30, 46, 0.5);
  --on-primary-container400: rgba(0, 30, 46, 0.4);
  --on-primary-container300: rgba(0, 30, 46, 0.3);
  --on-primary-container200: rgba(0, 30, 46, 0.2);
  --on-primary-container100: rgba(0, 30, 46, 0.1);

  --secondary: rgba(85, 96, 105, 1);
  --on-secondary: rgba(255, 255, 255, 1);

  --secondary-container: rgba(217, 228, 238, 1);
  --secondary-container900: rgba(217, 228, 238, 0.9);
  --secondary-container800: rgba(217, 228, 238, 0.8);
  --secondary-container700: rgba(217, 228, 238, 0.7);
  --secondary-container600: rgba(217, 228, 238, 0.6);
  --secondary-container500: rgba(217, 228, 238, 0.5);
  --secondary-container400: rgba(217, 228, 238, 0.4);
  --secondary-container300: rgba(217, 228, 238, 0.3);
  --secondary-container200: rgba(217, 228, 238, 0.2);
  --secondary-container100: rgba(217, 228, 238, 0.1);

  --on-secondary-container: rgba(18, 29, 36, 1);
  --on-secondary-container900: rgba(18, 29, 36, 0.9);
  --on-secondary-container800: rgba(18, 29, 36, 0.8);
  --on-secondary-container700: rgba(18, 29, 36, 0.7);
  --on-secondary-container600: rgba(18, 29, 36, 0.6);
  --on-secondary-container500: rgba(18, 29, 36, 0.5);
  --on-secondary-container400: rgba(18, 29, 36, 0.4);
  --on-secondary-container300: rgba(18, 29, 36, 0.3);
  --on-secondary-container200: rgba(18, 29, 36, 0.2);
  --on-secondary-container100: rgba(18, 29, 36, 0.1);

  --tertiary: rgba(98, 91, 114, 1);
  --on-tertiary: rgba(255, 255, 255, 1);

  --tertiary-container: rgba(233, 222, 249, 1);
  --tertiary-container900: rgba(233, 222, 249, 0.9);
  --tertiary-container800: rgba(233, 222, 249, 0.8);
  --tertiary-container700: rgba(233, 222, 249, 0.7);
  --tertiary-container600: rgba(233, 222, 249, 0.6);
  --tertiary-container500: rgba(233, 222, 249, 0.5);
  --tertiary-container400: rgba(233, 222, 249, 0.4);
  --tertiary-container300: rgba(233, 222, 249, 0.3);
  --tertiary-container200: rgba(233, 222, 249, 0.2);
  --tertiary-container100: rgba(233, 222, 249, 0.1);

  --on-tertiary-container: rgba(30, 24, 44, 1);
  --on-tertiary-container900: rgba(30, 24, 44, 0.9);
  --on-tertiary-container800: rgba(30, 24, 44, 0.8);
  --on-tertiary-container700: rgba(30, 24, 44, 0.7);
  --on-tertiary-container600: rgba(30, 24, 44, 0.6);
  --on-tertiary-container500: rgba(30, 24, 44, 0.5);
  --on-tertiary-container400: rgba(30, 24, 44, 0.4);
  --on-tertiary-container300: rgba(30, 24, 44, 0.3);
  --on-tertiary-container200: rgba(30, 24, 44, 0.2);
  --on-tertiary-container100: rgba(30, 24, 44, 0.1);

  --gray: rgb(233, 233, 233);

  --error: rgba(186, 26, 26, 1);

  --error100: rgba(186, 26, 26, 0.1);

  --on-error: rgba(255, 255, 255, 1);
  --on-error500: rgba(255, 255, 255, 0.5);
  --on-error200: rgba(255, 255, 255, 0.2);

  --error-container: rgba(255, 218, 214, 1);
  --error-container900: rgba(255, 218, 214, 0.9);
  --error-container200: rgba(255, 218, 214, 0.2);
  --error-container400: rgba(255, 218, 214, 0.4);
  --error-container400: rgba(255, 218, 214, 0.5);
  --on-error-container: rgba(65, 0, 2, 1);
  --outline: rgba(116, 119, 123, 1);

  --background: rgba(253, 252, 253, 1);
  --background900: rgba(253, 252, 253, 0.9);
  --background800: rgba(253, 252, 253, 0.8);
  --background700: rgba(253, 252, 253, 0.7);
  --background600: rgba(253, 252, 253, 0.6);
  --background500: rgba(253, 252, 253, 0.5);
  --background400: rgba(253, 252, 253, 0.4);
  --background300: rgba(253, 252, 253, 0.3);
  --background200: rgba(253, 252, 253, 0.2);
  --background100: rgba(253, 252, 253, 0.1);
  --background50: rgba(253, 252, 253, 0.05);

  --on-background: rgba(26, 28, 29, 1);
  --on-background900: rgba(26, 28, 29, 0.9);
  --on-background800: rgba(26, 28, 29, 0.8);
  --on-background700: rgba(26, 28, 29, 0.7);
  --on-background600: rgba(26, 28, 29, 0.6);
  --on-background500: rgba(26, 28, 29, 0.5);
  --on-background400: rgba(26, 28, 29, 0.4);
  --on-background300: rgba(26, 28, 29, 0.3);
  --on-background200: rgba(26, 28, 29, 0.2);
  --on-background100: rgba(26, 28, 29, 0.1);
  --on-background50: rgba(26, 28, 29, 0.05);

  --surface: rgba(253, 252, 253, 1);
  --on-surface: rgba(26, 28, 29, 1);
  --surface-variant: rgba(224, 227, 231, 1);
  --on-surface-variant: rgba(67, 71, 75, 1);
  --inverse-surface: rgba(47, 48, 50, 1);
  --inverse-on-surface: rgba(241, 240, 242, 1);
  --inverse-primary: rgba(152, 205, 243, 1);
  --shadow: rgba(0, 0, 0, 1);
  --surface-tint: rgba(44, 100, 133, 1);
  --outline-variant: rgba(196, 199, 203, 1);
  --scrim: rgba(0, 0, 0, 1);
  --surface-tint-color: rgba(44, 100, 133, 1);
  --primary: rgba(152, 205, 243, 1);

  --surface1: rgba(253, 252, 253, 1);
  --surface2: rgba(253, 252, 253, 1);
  --surface3: rgba(253, 252, 253, 1);
  --surface4: rgba(253, 252, 253, 1);
  --surface5: rgba(253, 252, 253, 1);

  --shadow1dp: 0px 0px 2px 0px #00000024, 0px 2px 2px 0px #0000001f,
    0px 1px 3px 0px #00000033;

  --shadow2dp: 0px 0px 4px 0px #00000024, 0px 3px 4px 0px #0000001f,
    0px 1px 5px 0px #00000033;

  --shadow3dp: 0px 3px 3px 0px #00000024, 0px 3px 4px 0px #0000001f,
    0px 1px 8px 0px #00000033;

  --shadow4dp: 0px 2px 4px 0px #00000024, 0px 4px 5px 0px #0000001f,
    0px 1px 10px 0px #00000033;

  --shadow8dp: 0px 8px 10px 1px #00000024, 0px 3px 14px 3px #0000001f,
    0px 4px 15px 0px #00000033;
  --shadow24dp: 0px 24px 38px 3px #00000024, 0px 9px 46px 8px #0000001f,
    0px 11px 15px 0px #00000033;

  --displayLarge_lineHeight: 64px;
  --displayMedium_lineHeight: 52px;
  --displaySmall_lineHeight: 44px;
  --headlineLarge_lineHeight: 40px;
  --headlineMedium_lineHeight: 36px;
  --headlineSmall_lineHeight: 32px;
  --titleLarge_lineHeight: 28px;
  --titleMedium_lineHeight: 24px;
  --titleSmall_lineHeight: 20px;
  --bodyLarge_lineHeight: 24px;
  --bodyMedium_lineHeight: 20px;
  --bodySmall_lineHeight: 16px;
  --labelLarge_lineHeight: 20px;
  --labelMedium_lineHeight: 16px;
  --labelSmall_lineHeight: 16px;

  --displayLarge: 57px;
  --displayMedium: 45px;
  --displaySmall: 36px;
  --headlineLarge: 32px;
  --headlineMedium: 28px;
  --headlineSmall: 24px;
  --titleLarge: 22px;
  --titleMedium: 16px;
  --titleSmall: 14px;
  --bodyLarge: 16px;
  --bodyMedium: 14px;
  --bodySmall: 12px;
  --labelLarge: 14px;
  --labelMedium: 12px;
  --labelSmall: 11px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --md-source: #6afdfa;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001414;
  --md-ref-palette-primary10: #00201f;
  --md-ref-palette-primary15: #00293d;
  --md-ref-palette-primary20: #003736;
  --md-ref-palette-primary25: #004342;
  --md-ref-palette-primary30: #00504f;
  --md-ref-palette-primary35: #005c5b;
  --md-ref-palette-primary40: #006a68;
  --md-ref-palette-primary50: #008583;
  --md-ref-palette-primary60: #00a19f;
  --md-ref-palette-primary70: #00bfbc;
  --md-ref-palette-primary80: #3edbd8;
  --md-ref-palette-primary90: #64f8f5;
  --md-ref-palette-primary95: #aefffc;
  --md-ref-palette-primary98: #e3fffd;
  --md-ref-palette-primary99: #f1fffe;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001414;
  --md-ref-palette-secondary10: #051f1f;
  --md-ref-palette-secondary15: #162833;
  --md-ref-palette-secondary20: #1b3534;
  --md-ref-palette-secondary25: #27403f;
  --md-ref-palette-secondary30: #324b4a;
  --md-ref-palette-secondary35: #3e5756;
  --md-ref-palette-secondary40: #4a6362;
  --md-ref-palette-secondary50: #627c7b;
  --md-ref-palette-secondary60: #7b9695;
  --md-ref-palette-secondary70: #95b0af;
  --md-ref-palette-secondary80: #b0ccca;
  --md-ref-palette-secondary90: #cce8e6;
  --md-ref-palette-secondary95: #daf6f5;
  --md-ref-palette-secondary98: #e3fffd;
  --md-ref-palette-secondary99: #f1fffe;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001225;
  --md-ref-palette-tertiary10: #031c35;
  --md-ref-palette-tertiary15: #2a2040;
  --md-ref-palette-tertiary20: #1b324b;
  --md-ref-palette-tertiary25: #273d57;
  --md-ref-palette-tertiary30: #324863;
  --md-ref-palette-tertiary35: #3e546f;
  --md-ref-palette-tertiary40: #4a607c;
  --md-ref-palette-tertiary50: #637995;
  --md-ref-palette-tertiary60: #7c92b0;
  --md-ref-palette-tertiary70: #97adcc;
  --md-ref-palette-tertiary80: #b2c8e8;
  --md-ref-palette-tertiary90: #d2e4ff;
  --md-ref-palette-tertiary95: #eaf1ff;
  --md-ref-palette-tertiary98: #f8f9ff;
  --md-ref-palette-tertiary99: #fdfcff;
  --md-ref-palette-tertiary100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral10: #191c1c;
  --md-ref-palette-neutral15: #242628;
  --md-ref-palette-neutral20: #2d3131;
  --md-ref-palette-neutral25: #383c3c;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #4f5353;
  --md-ref-palette-neutral40: #5b5f5f;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8e9191;
  --md-ref-palette-neutral70: #a9acab;
  --md-ref-palette-neutral80: #c4c7c6;
  --md-ref-palette-neutral90: #e0e3e2;
  --md-ref-palette-neutral95: #eff1f0;
  --md-ref-palette-neutral98: #f7faf9;
  --md-ref-palette-neutral99: #fafdfc;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #091312;
  --md-ref-palette-neutral-variant10: #141d1d;
  --md-ref-palette-neutral-variant15: #20272c;
  --md-ref-palette-neutral-variant20: #293232;
  --md-ref-palette-neutral-variant25: #343d3d;
  --md-ref-palette-neutral-variant30: #3f4948;
  --md-ref-palette-neutral-variant35: #4a5454;
  --md-ref-palette-neutral-variant40: #566060;
  --md-ref-palette-neutral-variant50: #6f7978;
  --md-ref-palette-neutral-variant60: #889392;
  --md-ref-palette-neutral-variant70: #a3adac;
  --md-ref-palette-neutral-variant80: #bec9c7;
  --md-ref-palette-neutral-variant90: #dae5e3;
  --md-ref-palette-neutral-variant95: #e8f3f2;
  --md-ref-palette-neutral-variant98: #f1fbfa;
  --md-ref-palette-neutral-variant99: #f4fefd;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006a68;
  --md-sys-color-primary-container-light: #64f8f5;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary-container-light: #00201f;
  --md-sys-color-secondary-light: #4a6362;
  --md-sys-color-secondary-container-light: #cce8e6;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-secondary-container-light: #051f1f;
  --md-sys-color-tertiary-light: #4a607c;
  --md-sys-color-tertiary-container-light: #d2e4ff;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-on-tertiary-container-light: #031c35;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #6f7978;
  --md-sys-color-background-light: #fafdfc;
  --md-sys-color-on-background-light: #191c1c;
  --md-sys-color-surface-light: #fafdfc;
  --md-sys-color-on-surface-light: #191c1c;
  --md-sys-color-surface-variant-light: #dae5e3;
  --md-sys-color-on-surface-variant-light: #3f4948;
  --md-sys-color-inverse-surface-light: #2d3131;
  --md-sys-color-inverse-on-surface-light: #eff1f0;
  --md-sys-color-inverse-primary-light: #3edbd8;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006a68;
  --md-sys-color-outline-variant-light: #bec9c7;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #3edbd8;
  --md-sys-color-primary-container-dark: #00504f;
  --md-sys-color-on-primary-dark: #003736;
  --md-sys-color-on-primary-container-dark: #64f8f5;
  --md-sys-color-secondary-dark: #b0ccca;
  --md-sys-color-secondary-container-dark: #324b4a;
  --md-sys-color-on-secondary-dark: #1b3534;
  --md-sys-color-on-secondary-container-dark: #cce8e6;
  --md-sys-color-tertiary-dark: #b2c8e8;
  --md-sys-color-tertiary-container-dark: #324863;
  --md-sys-color-on-tertiary-dark: #1b324b;
  --md-sys-color-on-tertiary-container-dark: #d2e4ff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-outline-dark: #889392;
  --md-sys-color-background-dark: #191c1c;
  --md-sys-color-on-background-dark: #e0e3e2;
  --md-sys-color-surface-dark: #191c1c;
  --md-sys-color-on-surface-dark: #c4c7c6;
  --md-sys-color-surface-variant-dark: #3f4948;
  --md-sys-color-on-surface-variant-dark: #bec9c7;
  --md-sys-color-inverse-surface-dark: #e0e3e2;
  --md-sys-color-inverse-on-surface-dark: #191c1c;
  --md-sys-color-inverse-primary-dark: #006a68;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #3edbd8;
  --md-sys-color-outline-variant-dark: #3f4948;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}

:root {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-light
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-light
  );
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-light
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-light
  );
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-light
  );
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-light
  );
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-light
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-light
  );
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}

/* dark */
:root {
  --md-sys-color-surface-primary-elevated-button: var(
    --md-ref-palette-neutral-variant10
  );
  --md-sys-color-surface-secondary-elevated-button: var(
    --md-ref-palette-secondary10
  );
  --md-sys-color-surface-tertiary-elevated-button: var(
    --md-ref-palette-tertiary10
  );
  --md-sys-color-surface-error-elevated-button: var(--md-ref-palette-error10);
  --md-sys-color-surface-warning-elevated-button: hsl(55, 98%, 10%);
  --md-sys-color-surface-on-warning-elevated-button: #e9d502;
}

/* light */
:root {
  --md-sys-color-surface-primary-elevated-button: var(
    --md-ref-palette-neutral-variant99
  );
  --md-sys-color-surface-secondary-elevated-button: var(
    --md-ref-palette-secondary99
  );
  --md-sys-color-surface-tertiary-elevated-button: var(
    --md-ref-palette-tertiary99
  );
  --md-sys-color-surface-error-elevated-button: var(--md-ref-palette-error99);

  --md-sys-color-surface-warning-elevated-button: #fffcf1;
  --md-sys-color-surface-on-warning-elevated-button: #be7f09;

  --md-sys-color-surface-success-elevated-button: #f2fff9;
  --md-sys-color-surface-on-success-elevated-button: #07532e;

  --md-sys-color-success: #057840;
  --md-sys-color-on-success: #ffffff;

  --md-sys-color-warning: #e19a00;
  --md-sys-color-on-warning: #ffffff;

  --md-sys-color-filledTonal-warning: #fae0a8;
  --md-sys-color-on-filledTonal-warning: #4d3400;

  --md-sys-color-filledTonal-success: #baf0d6;
  --md-sys-color-on-filledTonal-success: #004523;

  --md-sys-color-filledTonal-error: var(--md-sys-color-error-container-light);
  --md-sys-color-on-filledTonal-error: var(
    --md-sys-color-on-error-container-light
  );

  --md-sys-color-filledIconButton-error: var(--md-ref-palette-error95);

  --md-sys-color-filledIconButton-secondary: var(--md-ref-palette-secondary95);
  --md-sys-color-filledIconButton-tertiary: var(--md-ref-palette-tertiary95);

  --md-sys-color-filledIconButton-warning: #fff2d5;
  --md-sys-color-filledIconButton-success: #e1fff0;
}

/* :root {
  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-dark
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-dark
  );
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-dark
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-dark
  );
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-dark
  );
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-dark
  );
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-dark
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-dark
  );
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
} */
