.con {
  min-height: 100vh;
  width: 100%;
  background-color: var(--md-sys-color-background);
  position: relative;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.nameInput {
  margin: 2rem 0px;
  font-size: 40px;
}

.file {
  width: 100%;
  min-height: 400px;
  border: 2px dashed var(--md-sys-color-outline);
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput {
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  z-index: 5;
}

.img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
.uploadAnotherBtn {
  width: auto;
}
@media (min-width: 1200px) {
  .con {
    padding: 8px 160px;
  }
}

@media (max-width: 1200px) {
  .con {
    padding: 8px 24px;
  }
}

@media (max-width: 900px) {
  .con {
    padding: 8px 32px;
  }
}

@media (max-width: 600px) {
  .con {
    padding: 8px 8px;
  }
}
