.con {
  min-height: 100vh;
  width: 100%;
  background-color: var(--md-sys-color-background);
  position: relative;
  display: flex;
}

.logo {
  color: #0e3559;
}

.subText {
  color: #0e3559;
}

.left {
  width: calc(100% / 3);
  background-color: #92d4fa;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
}
.right {
  width: calc(100% / 3 * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 200px;
}

.inputsHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0px;
}
.inputsHolder > div {
  margin-top: 1rem;
}

.buttonHolder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.headText {
  width: 100%;
}

.middle {
  display: none;
}

@media (max-width: 1000px) {
  .left {
    padding-left: 40px;
  }
  .right {
    padding: 20px 120px;
  }
}

@media (max-width: 800px) {
  .left {
    padding-left: 16px;
  }
  .right {
    padding: 20px 60px;
  }
}

@media (max-width: 600px) {
  .con {
    flex-direction: column;
  }
  .left {
    display: none;
  }
  .right {
    padding: 58px 24px;
    width: 100%;
  }
  .middle {
    width: 100%;
    background-color: #fad092;
    padding: 16px 24px;
    display: flex;
  }
  .middleText {
    color: #593b0e;
  }
}
