.con {
  min-height: 100vh;
  width: 100%;
  background-color: var(--md-sys-color-background);
  position: relative;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
}
.avatar {
  width: 50px;
  height: 50px;
}
.top p {
  margin-left: 0.5rem;
}
