.con {
  min-height: 100vh;
  width: 100%;
  background-color: var(--md-sys-color-background);
  position: relative;
  display: flex;
  flex-direction: column;
}

.info {
  margin-left: 0.5rem;
}

.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0px;
}

.tabs {
  border-bottom: 1px solid red;
}

.avatar {
  width: 80px;
  height: 80px;
}

.top p {
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .tabsHold,
  .top {
    padding: 0px 160px;
  }
}

@media (max-width: 1200px) {
  .tabsHold,
  .top {
    padding: 0px 24px;
  }
}

@media (max-width: 900px) {
  .tabsHold,
  .top {
    padding: 0px 32px;
  }
  .top {
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .tabsHolds,
  .top {
    padding: 0px 16px;
  }
}
